@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

// Definição das variáveis para o tema claro
$cor-fundo-claro: #f0f0f0;
$cor-principal-claro: #ffffff;
$cor-texto-claro: #333333;
$cor-borda-claro: #cccccc;
$cor-bichinho-hover-claro: #bb5bd3;
$cor-fundo-bichinho-selecionado-claro: #bb5bd33f;
$cor-borda-bichinho-selecionado-claro: #bb5bd3;
$cor-botoes-claro: #bb5bd3;
$cor-botoes-hover-claro: #d979f1;
$linha-claro: 2px solid #bb5bd3;
$cor-botao-sair-claro: #b60c00;
$cor-botao-sair-hover-claro: #bd18188c;
$cor-de-fundo-menu-claro: #bb5bd3;
$cor-botao-claro: #4caf50;
$cor-botao-hover-claro: #45a049;

// Definição das variáveis para o tema escuro
$cor-fundo-escuro: #1a1a1a;
$cor-principal-escuro: #2c2c2c;
$cor-texto-escuro: #f0f0f0;
$cor-borda-escuro: #444444;
$cor-bichinho-hover-escuro: #8513a1;
$cor-fundo-bichinho-selecionado-escuro: #8513a12c;
$cor-borda-bichinho-selecionado-escuro: #8513a1;
$cor-botoes-escuro: #8513a1;
$cor-botoes-hover-escuro: #600c75;
$linha-escuro: 2px solid #8513a1;
$cor-de-fundo-menu-escuro: #8513a1;
$cor-botao-escuro: #388e3c;
$cor-botao-hover-escuro: #2e7d32;

// Mixin para o tema escuro
// O @mixin permite agrupar um conjunto de regras CSS para serem reutilizadas.
// Aqui, criamos um mixin para aplicar as cores do tema escuro.
@mixin dark-mode-styles {
    --cor-fundo: #{$cor-fundo-escuro};
    --cor-principal: #{$cor-principal-escuro};
    --cor-texto: #{$cor-texto-escuro};
    --cor-borda: #{$cor-borda-escuro};
    --cor-bichinho-hover: #{$cor-bichinho-hover-escuro};
    --cor-fundo-bichinho-selecionado: #{$cor-fundo-bichinho-selecionado-escuro};
    --cor-borda-bichinho-selecionado: #{$cor-borda-bichinho-selecionado-escuro};
    --cor-botoes: #{$cor-botoes-escuro};
    --cor-botoes-hover: #{$cor-botoes-hover-escuro};
    --linha: #{$linha-escuro};
    --cor-de-fundo-menu: #{$cor-de-fundo-menu-escuro};
    --cor-botao: #{$cor-botao-escuro};
    --cor-botao-hover: #{$cor-botao-hover-escuro};
}

// Configuração inicial das variáveis CSS usando as variáveis Sass
:root {
    --cor-fundo: #{$cor-fundo-claro};
    --cor-principal: #{$cor-principal-claro};
    --cor-texto: #{$cor-texto-claro};
    --cor-borda: #{$cor-borda-claro};
    --cor-bichinho-hover: #{$cor-bichinho-hover-claro};
    --cor-fundo-bichinho-selecionado: #{$cor-fundo-bichinho-selecionado-claro};
    --cor-borda-bichinho-selecionado: #{$cor-borda-bichinho-selecionado-claro};
    --cor-botoes: #{$cor-botoes-claro};
    --cor-botoes-hover: #{$cor-botoes-hover-claro};
    --linha: #{$linha-claro};
    --cor-botao-sair: #{$cor-botao-sair-claro};
    --cor-botao-sair-hover: #{$cor-botao-sair-hover-claro};
    --cor-de-fundo-menu: #{$cor-de-fundo-menu-claro};
    --cor-botao: #{$cor-botao-claro};
    --cor-botao-hover: #{$cor-botao-hover-claro};
}

// Aplica o mixin para o tema escuro quando a classe .dark-mode é usada
.dark-mode {
    @include dark-mode-styles;
}