@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset básico e configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

/* Variáveis CSS para o tema claro */
:root {
    --cor-fundo: #f0f0f0;
    --cor-principal: #ffffff;
    --cor-texto: #333333;
    --cor-borda: #cccccc;

    --cor-bichinho-hover: #bb5bd3;
    --cor-fundo-bichinho-selecionado: #bb5bd33f;
    --cor-borda-bichinho-selecionado: #bb5bd3;

    --cor-botoes: #bb5bd3;
    --cor-botoes-hover: #d979f1;

    --linha: 2px solid #bb5bd3;

    --cor-botao-sair: #b60c00;
    --cor-botao-sair-hover: #bd18188c;
    
    --cor-de-fundo-menu: #bb5bd3;
    --cor-botao: #4caf50;
    --cor-botao-hover: #45a049;
}

/* Variáveis CSS para o tema escuro */
.dark-mode {
    --cor-fundo: #1a1a1a;
    --cor-principal: #2c2c2c;
    --cor-texto: #f0f0f0;
    --cor-borda: #444444;

    --cor-bichinho-hover: #8513a1;
    --cor-fundo-bichinho-selecionado: #8513a12c;
    --cor-borda-bichinho-selecionado: #8513a1;

    --cor-botoes: #8513a1;
    --cor-botoes-hover: #600c75;

    --linha: 2px solid #8513a1;
    
    --cor-de-fundo-menu: #8513a1;
    --cor-botao: #388e3c;
    --cor-botao-hover: #2e7d32;
}