@import url(./_global.css);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  transition: background-color 0.3s ease, color 0.3s ease;
  user-select: none;
  cursor: default;
  overflow-x: hidden;
}

body[data-status="loading"] #container-jogo {
  display: none;
}

body[data-status="loading"] #boas-vindas {
  display: none;
}

.notificacao-audio {
  position: fixed;
  top: 20px;
  background-color: var(--cor-principal);
  color: var(--cor-texto);
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  justify-content: center;
  gap: 10px;
  align-items: center;
  z-index: 1000;
}

.notificacao-audio button {
  background-color: var(--cor-botoes);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.notificacao-audio button:hover {
  background-color: var(--cor-botoes-hover);
}

.container-principal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 100%;
  border-radius: 30px;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
  background-color: var(--cor-principal);
  border: 8px solid var(--cor-borda);
  box-shadow: 9px 10px 23px -4px rgba(0, 0, 0, 0.596);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.container-principal h1 {
  font-size: 2rem;
}

.container-principal h2 {
  font-size: 1.5rem;
}

.container-principal p,
.container-principal span {
  font-size: 1.2rem;
}

.container-principal span {
  font-weight: bold;
}

.container-tema .container-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 50px;
  height: 50px;
}

.container-tema {
  position: absolute;
  top: 2%;
  right: 4%;
}

.container-config {
  position: absolute;
  top: 2%;
  left: 4%;
}

#botao-tema,
#botao-config {
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  border: none;
  background: none;
  font-size: 1.8rem;
}

.menu-config {
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 1rem;
  background-color: var(--cor-fundo);
  border-radius: 10px;
  font-weight: bold;
  width: 140px;
  height: 140px;
  z-index: 1;
}

#botao-config-fechar {
  position: absolute;
  top: 5%;
  right: 5%;
}

#input-musica,
#input-sons {
  -webkit-appearance: none;
  appearance: none;
  background: var(--cor-principal);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

.jogo-container,
.conteudo-jogo,
.tela-inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tela-inicial {
  gap: 1rem;
  text-align: center;
}

.jogo-container {
  position: relative;
  margin-top: 2.4rem;
}

.conteudo-jogo {
  flex: 1;
}

#container-jogo {
  gap: 1rem;
}

.selecao-bichinhos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.selecao-bichinhos .opcao-bichinho {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  width: 120px;
}

.selecao-bichinhos .opcao-bichinho:hover {
  background-color: var(--cor-bichinho-hover);
  transform: scale(1.05);
}

.selecao-bichinhos .opcao-bichinho.selecionado {
  border-color: var(--cor-borda-bichinho-selecionado);
  background-color: var(--cor-fundo-bichinho-selecionado);
}

.emoji-bichinho {
  font-size: 2.5rem;
  margin-bottom: 5px;
  cursor: pointer;
}

.emoji-bichinho-grande {
  font-size: 6rem;
}

#input-nome {
  padding: 12px;
  border: 1px solid var(--cor-borda);
  border-radius: 20px;
  font-size: 1rem;
  width: 80%;
  margin-bottom: 10px;
  cursor: text;
}

#input-nome.input-erro::-moz-placeholder {
  color: #bb0707;
  font-weight: 600;
}

#input-nome.input-erro::placeholder {
  color: #bb0707;
  font-weight: 600;
}

.botao-acao {
  background-color: var(--cor-botoes);
  color: var(--cor-texto);
  border: none;
  border-radius: 20px;
  padding: 0.8rem;
  font-size: 20px;
  cursor: pointer;
  flex-grow: 1;
  margin: 0 5px;
  transition: background-color 0.3s ease;
  box-shadow: 9px 10px 23px -4px rgba(0, 0, 0, 0.596);
}

.botao-acao:hover {
  background-color: var(--cor-botoes-hover);
}

.botao-acao:active {
  box-shadow: inset 9px 10px 23px -4px rgba(0, 0, 0, 0.596);
}

.botao-acao:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.moedas-container {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.tamagotchi-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.tamagotchi-container .tamagotchi-bichinho {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}

.status-container .status-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.status-container .status-label {
  width: 110px;
}

.status-container .status-barra {
  width: 200px;
  background-color: var(--cor-fundo);
  border-radius: 8px;
  overflow: hidden;
  height: 15px;
  margin-left: 10px;
}

.status-container .status-progresso {
  height: 100%;
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.fome {
  background-color: #ff9800;
}

.felicidade {
  background-color: #22c712;
}

.higiene {
  background-color: #2196f3;
}

.saude {
  background-color: #f44336;
}

.botoes-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.menu-lateral {
  position: absolute;
  right: -12%;
  top: 30%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 10px;
  background-color: var(--cor-borda);
  border-radius: 15px;
}

.menu-lateral .botao-menu {
  background-color: var(--cor-de-fundo-menu);
  border: 2px solid var(--cor-borda);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-lateral .botao-menu:hover {
  background-color: var(--cor-botoes-hover);
  transform: scale(1.05);
}

.loja-container,
.mini-games-container {
  position: absolute;
  top: 0;
  left: 120%;
  background-color: var(--cor-principal);
  z-index: 100;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.loja-header,
.mini-games-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: var(--linha);
  padding-bottom: 14px;
}

.botao-sair,
#botao-config-fechar {
  background-color: var(--cor-botao-sair);
  color: var(--cor-texto);
  font-size: 1rem;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
}

.botao-sair:hover,
#botao-config-sair:hover {
  background-color: var(--cor-botao-sair-hover);
}

.acessorios-container,
.games-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  overflow-y: auto;
  padding: 10px;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

.acessorios-container .acessorio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 2px solid var(--cor-borda);
  border-radius: 15px;
  transition: all 0.3s ease;
  text-align: center;
}

.acessorios-container .acessorio-item:hover {
  transform: translateY(-5px);
  box-shadow: 9px 10px 23px -4px rgba(0, 0, 0, 0.596);
}

.acessorios-container .acessorio-item .acessorio-emoji {
  margin-bottom: 10px;
  font-size: 2.4rem;
}

.acessorios-container .acessorio-item span {
  margin-bottom: 10px;
  font-size: 1rem;
}

.botao-comprar {
  color: var(--cor-texto);
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-comprar:hover {
  background-color: var(--cor-botao-hover);
}

.acessorios-bichinho {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 10;
}

.acessorio-equipado {
  position: absolute;
  font-size: 2rem;
}

.acessorio-equipado.coroa-equipado,
.acessorio-equipado.chapeu-cartola-equipado,
.acessorio-equipado.chapeu-laco-equipado {
  top: 15%;
}

.acessorio-equipado.laco-equipado {
  top: 20%;
}

#jogo-da-velha-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#jogo-da-velha-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: .8rem;
  background-color: var(--cor-borda);
}

#jogo-da-velha-board .celula {
  width: 100px;
  height: 100px;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#jogo-da-velha-board .celula:hover {
  background-color: var(--cor-de-fundo-menu);
}

#jogo-da-velha-board .celula.x,
#jogo-da-velha-board .celula.o {
  color: var(--cor-texto);
}

.status-jogo {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.botao-game-action {
  background-color: var(--cor-botoes);
  color: var(--cor-texto);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s;
}

.botao-game-action:hover {
  background-color: var(--cor-botoes-hover);
}

.mensagem {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--cor-texto);
  font-size: 1.2em;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container-principal,
  .jogo-container,
  .conteudo-jogo,
  .tela-inicial,
  .loja-container,
  .mini-games-container {
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin: 0;
    width: 100%;
    height: 100vh;
  }

  .notificacao-audio {
    flex-direction: column;
  }

  .loja-container,
  .mini-games-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .menu-config {
    width: 180px;
    height: 200px;
  }

  .menu-lateral {
    background: none;
    left: 70%;
  }

  .acessorio-equipado.coroa-equipado,
  .acessorio-equipado.chapeu-cartola-equipado,
  .acessorio-equipado.chapeu-laco-equipado {
    top: 25%;
  }

  .acessorio-equipado.laco-equipado {
    top: 20%;
  }
}